// Resets, Clearfix, etc
@import "partials/reset";
@import "partials/clearfix";
* {
  box-sizing: border-box;
}
// Variables
$darkColor: #222;
$lightColor: #EEE;
$brightColor: orange;
$globalPadding: 20px;
// Media Query Ranges
$mediumWidth: 600px;
$largeWidth: 900px;
// Mixins
@mixin tablet() {
  @media (min-width: #{$mediumWidth}) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: #{$largeWidth}) {
    @content;
  }
}

@mixin block_font($fontSize: 35px, $fontColor: $darkColor) {
  font-size: $fontSize;
  color: $fontColor;
}
// Styles
body{
  background-color: $brightColor;
  text-align: center;
  color: $lightColor;

  @include tablet {

  }

  @include desktop {
    background-color: $darkColor;
  }
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  @include tablet {

  }
  @include desktop {

  }
}

h1{
  padding: $globalPadding;
  @include block_font(55px);

  @include tablet {
    @include block_font(55px, $lightColor);
  }
  @include desktop {
    @include block_font(55px, $brightColor);
  }
}

h2{
  @include block_font($fontColor: $lightColor);

  @include tablet {
    @include block_font($fontColor: $brightColor);
  }
  @include desktop {
    @include block_font;
  }
}


.block_family{
  max-width:350px;
  margin:auto;

  @include tablet {
    max-width: $mediumWidth;
  }

  @include desktop {
    max-width: $largeWidth;
  }
}

.block_family li{
  background-color: $darkColor;
  margin-bottom: 20px;
  padding: $globalPadding;

  @include tablet {
    float: left;
    width: 48%;
    margin: 1%;
    &:nth-child(2n) {
     background-color: $lightColor;
    }
  }

  @include desktop {
    float: left;
    width: 30%;
    margin: 1%;
    &:nth-child(n) {
      background-color: $brightColor;
    }
    &:nth-child(3n-1) {
      background-color: $lightColor;
    }
  }
}